* {
  box-sizing: border-box;
  /*border: thin solid black;*/
}



body { margin: 0;
background-color: black;}

#page {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0px;
  /*grid-auto-rows: minmax(100px, auto);*/
}

#Titulo {
  background-color: gray;
  font-family: 'Pacifico', cursive;
  padding: 1em;
  grid-column: 1 / 6;
  grid-row: 1;
  text-align: center;
  font-size: 50px;
  background-size: cover;
  color: white;
 }

#Barra {
  grid-column: 1 / 6;
  grid-row: 3;
  background-color: gray;
  padding: 4em;
}
.slider {

	margin: auto;
	overflow: hidden;

}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;

	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}

	25% {margin-left: -100%;}
	45% {margin-left: -100%;}

	50% {margin-left: -200%;}
	70% {margin-left: -200%;}

	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}



#Menu {
  text-align: center;
  grid-column: 1 / 6;
  grid-row: 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

}
#Menu h4 {
  padding: 1em;
  border: thin solid white;
  background-color: black;
  color: white;
  margin: 0;
  font-family: 'Pacifico', cursive;
}


.image > img {
  width: 100%;
  max-width: 100%;
  margin-bottom: -4px;

}

#fotos {
  background-color: black;
  text-align: center;
  grid-column: 1 / 6;
  grid-row: 4;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25em, 1fr));
  margin: 0 auto;
  color: white;
}

.foto h4 {
font-family: 'Pacifico', cursive;
text-align: center;
}



#footer {
  grid-column: 1 / 6;
  grid-row: 6;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#footer-right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

img { max-width: 100%;}
